@charset "UTF-8";
*{box-sizing:border-box;}
body {
	margin:0; 
	background:#F2F2F2; 
	padding:0 50px;
}

a {
	text-decoration:none;
}

main { 
	width:80%; 
	margin:auto; padding:25px 0px 25px 25px; 
	overflow:auto;
}


section {
	width:22%; 
	float:left; 
	margin-right:3%; 
	margin-bottom:3%;
	text-align:center;
}

section a{
	display:block;
	padding:25px 0px;
	background:#9F81F7;
	border:5px ridge silver; 
	border-radius:10px;
	color:white;
}

section a:hover {
	background:#642EFE;
	border:5px inset silver; 
	
}

header {
	margin-bottom:20px;
}

nav {
	width:90%;
	overflow:auto;
	margin:auto;
}

nav ul {
	list-style:none;
	margin:auto;
}

nav ul li {
	float:left;
	margin:0 7px;
} 

nav ul li a {
	display:block;
	background:#9F81F7;
	padding:10px;
	color:black;
	border-radius: 0 0 10px 10px;
}
nav ul li a:hover {
	background:#642EFE;
	color:white;
}

.selecionado a{
	background:#642EFE;
	color:white;
}